In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('iris.csv')

In [3]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [55]:
data.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [85]:
data = data.rename(columns={'SepalLengthCm':'SL', 'SepalWidthCm':'SW','PetalLengthCm':'PL','PetalWidthCm':'PW'})
flower = {'Iris-virginica':1, 'Iris-setosa': 2, 'Iris-versicolor': 3}

data.Species = [flower[item] for item in data.Species]

In [86]:
data.head()

   Id   SL   SW   PL   PW  Species
0   1  5.1  3.5  1.4  0.2        2
1   2  4.9  3.0  1.4  0.2        2
2   3  4.7  3.2  1.3  0.2        2
3   4  4.6  3.1  1.5  0.2        2
4   5  5.0  3.6  1.4  0.2        2

In [20]:
data.Species.value_counts()

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: Species, dtype: int64

In [32]:
setosa = data.loc[data['Species'] == 'Iris-setosa']
versicolor = data.loc[data['Species'] == 'Iris-versicolor']
virginica = data.loc[data['Species'] == 'Iris-virginica']

In [39]:
print('Iris-setosa: SL = {}'.format(setosa.describe()))
print("")
print('Versicolor: SL = {}'.format(versicolor.describe()))
print("")
print('Virginica: {}'.format(virginica.describe()))

Iris-setosa: SL =              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

Versicolor: SL =               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

Virginica:               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000

In [175]:
from sklearn.model_selection import train_test_split

y = data.Species
variables = ['SL','SW','PL','PW']
X = data[variables]

X = array(X)
y = array(y)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [179]:
import xgboost as xgb

train = xgb.DMatrix(X_train, label=y_train)
test = xgb.DMatrix(X_test, label=y_test)

In [181]:
param = {
    'max_depth': 4,
    'eta': .3,
    'objective': 'multi:softmax',
    'num_class': 30}
epochs= 10

In [182]:
model = xgb.train(param, train, epochs)

In [183]:
predictions = model.predict(test)

In [184]:
print(predictions)

[1. 3. 2. 1. 2. 1. 2. 3. 3. 3. 1. 3. 3. 3. 3. 2. 3. 3. 2. 2. 1. 3. 2. 2.
 1. 2. 2. 3. 3. 2.]

In [185]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

1.0